body {
    padding-top: 56px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}



/* Navigation */



/* Jumbotron */

.h-jumbotron {
    font-family: 'Rasa', serif;
    font-size: 40px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 30px;
}

.lead {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #F9F1EE;
    letter-spacing: 2px;
}

.jumbotron {
    background-color: transparent;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}



/* Headers & Paragraphs */

.joinus {
    font-family: 'Rasa', serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #14494B;
    margin-top: 95px;
}

h2 {
    color: #2C2F23;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h-standout {
    font-family: 'Rasa', serif;
    color: #14494B;
    font-weight: 300;
}

.fancyTitle {
    margin-top: 40px;
    margin-bottom: 10px;
}

h3 {
    color: #2C2F23;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Buttons */

.btn--register {
    color: #14494B;
    font-weight: 700;
    border-radius: 25px;
    background-color: #F9F1EE;
    width: 180px;
    letter-spacing: .02em;
}

.btn--register:hover,
.btn--register:active,
.btn--register:focus,
.btn--register:active:focus {
    background-color: #f2e1db;
    border-color: #f2e1db;
}



/* Images */

.img-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}



/* Containers */

.container {
    margin-bottom: 15px;
}

.callout-container{
    height: 100vh;
    
    background: url('../images/Hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}



/* Schedule Container */

.scheduleDay {
    margin-right: 10px;
    margin-left: 10px;
}

.scheduleDay p{
    font-size: 14px;
    line-height: 18px;
}