body {
    padding-top: 54px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------------- Links */

a {
    color: #000;
}

a:hover,
a:active,
a:focus,
a:active:focus {
    text-decoration: none;
    color: #999;
}

/*--------------------------------------------- Headings & Special Paragraphs */

h2 {
    color: #2C2F23;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 34px;
}

h3 {
    color: #2C2F23;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-fancy {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.h-standout {
    font-family: 'Rasa', serif;
    color: #14494B;
    font-weight: 300;
}

.p-standout {
    font-weight: 400;
}

.p-final-notes {
    font-size: 14px;
}

/*------------------------------------------------------------------- Buttons */

.btn-register {
    color: #14494B;
    font-weight: 700;
    border-radius: 25px;
    background-color: #F9F1EE;
    width: 180px;
    letter-spacing: .02em;
}

.btn-register:hover,
.btn-register:active,
.btn-register:focus,
.btn-register:active:focus {
    background-color: #f2e1db;
    border-color: #f2e1db;
    color: #2C2F23;
}

.btn-read-more {
    border-radius: 25px;
    background-color: #f8f9fa;
    width: 110px;
}

.btn-read-more:hover,
.btn-read-more:active,
.btn-read-more:focus,
.btn-read-more:active:focus {
    background-color: #e9ecef;
    border-color: #e9ecef;
}

.btn-cta {
    letter-spacing: .02em;
    border-radius: 25px;
    background-color: #F9F1EE;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(153,153,153,0.33);
    -moz-box-shadow: 10px 10px 5px 0px rgba(153,153,153,0.33);
    box-shadow: 10px 10px 5px 0px rgba(153,153,153,0.33);
}

.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus,
.btn-cta:active:focus {
    background-color: #f2e1db;
    border-color: #f2e1db;
}

/*-------------------------------------------------------------------- Images */

.img-fluid {
    width: 100%;
    height: auto;
}

.location-image {
    margin-bottom: 30px;
}

/*---------------------------------------------------------------- Containers */

.container {
    margin-bottom: 15px;
}

.container-wrapper {
    margin-bottom: 35px;
    padding-bottom: 35px;
}

.container-wrapper-pink {
    background-color: #F9F1EE;
}

/*---------------------------------------------------------------- Navigation */

.navbar .navbar-toggler {
    border: 0!important;
}

.navbar .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 95%;
}

.navbar .navbar-nav {
    text-transform: uppercase;
    font-size: 90%;
}

.navbar .navbar-nav a {
    font-weight: 400;
}

/*------------------------------------------------------- CallOut & Jumbotron */

.callout-container{
    height: 100vh;
    
    background: url('../images/Hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.h-jumbotron {
    font-family: 'Rasa', serif;
    font-size: 40px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 30px;
}

.lead {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #F9F1EE;
    letter-spacing: 2px;
}

.jumbotron {
    background-color: transparent;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

/*-------------------------------------------------------------------- JoinUs */

.joinus {
    font-family: 'Rasa', serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #14494B;
    margin-top: 85px;
    margin-bottom: 75px;
}

/*--------------------------------------------------------- Mentors Container */

.mentors-intro {
    background-color: #fff;
    padding: 20px 15px 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

/*-------------------------------------------------------- Schedule Container */

.schedule-single-grid-wrapper {
    margin: 0 10px 10px 10px;
    background-color: #fff;
    border-radius: 15px;
}

.schedule-single-grid-wrapper p{
    font-size: 14px;
    line-height: 18px;
}

.schedule-full-grid {
    margin-bottom: 45px;
}

/*---------------------------------------------------------- Prices Container */

.price-packages-wrapper {
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
}

.price-final-notes {
    margin-top: 35px;
    margin-bottom: 35px;
}

.dates-wrapper {
    background-color: #fff;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/*-------------------------------------------------------------------- Footer */

.container-wrapper-grey {
    background-color: #f8f9fa;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    letter-spacing: 0.2em;
    line-height: 18px;
}

.footer-social-links {
    font-size: 16px;
}